#search-button{
  cursor: pointer;
}
.units{
    font-size: 15px;
    vertical-align: top;
}
.search-input {
  display: inline;
  width: 80%;
  margin-bottom: 12px;
}
.today i {
  font-size: 150px;
}
.today .temp {
  font-size: 80px;
}
.today .main,
.today .subsection {
  margin-top: 30px;
}
.today .subsection p {
  margin-bottom: 0px;
}
.next-days .col {
  padding: 0;
}
.next-days {
  margin: auto;
}
.weather-temperature .active{
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover{
  text-decoration: none;
}